* {
  padding: 0px;
  margin: opx;
  box-sizing: border-box;
  text-decoration: none;
}
@keyframes a1 {
  100% {
    transform: scale(0.5) rotate(360deg);
  }
}

#box {
  width: 30vw;
  height: 30vw;
  position: relative;
  border-radius: 50%;
  margin: 20px auto;
  animation: a1 4s infinite;
}
#box > div {
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  background-color: #0866ff;
  position: absolute;
  left: 44.5%;
  top: 44.5%;
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  font-size: 35px;
}
#box > div:nth-of-type(1) {
  transform: translate(14.25vw);
}
#box > div:nth-of-type(2) {
  transform: translate(-14.95vw);
}
#box > div:nth-of-type(3) {
  transform: translateY(-14.95vw);
}
#box > div:nth-of-type(4) {
  transform: translateY(14.25vw);
}
#box > div:nth-of-type(5) {
  transform: translate(10vw, 10vw);
}
#box > div:nth-of-type(6) {
  transform: translate(-10vw, 10vw);
}
#box > div:nth-of-type(7) {
  transform: translate(11vw, -10vw);
}
#box > div:nth-of-type(8) {
  transform: translate(-11.5vw, -10vw);
}
.left_box {
  width: 40vw;
  height: 30vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.left_box > h1 {
  animation: b 5s infinite;
}
.section {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 100px 100px 0px;
}
.right_box {
  width: 60vw;
  height: 30vw;
}
@keyframes b {
  0% {
    transform: translate(-30vw);
    color: rgb(195, 195, 195);
  }

  100% {
    transform: translate(28vw);
  }
}